{% extends 'index.html' %}
{% block title %}About Anonymouse{% endblock %}
{% block body %}
<section class="hero is-white">
	<div class = "hero-body">
		<div class="container">
			<h1 class="slogan-title dark-gray">
				About Anonymouse
			</h1>
			<h2 class="slogan-subtitle light-gray">Anonymouse is an app dedicated to censorship-free communiation and anonymous engagement.</h2>
			<h2 class="slogan-subtitle light-gray">
				There was a time when most people learned about the world from a few professional communicators.  The internet opened communication to the masses. In many cases they were more accurate and creative, and their interests and ideas more diverse.
			</h2>
			<h2 class="slogan-subtitle light-gray">           
				But, from the start, the internet had a weakness.  The internet is hierarchical.  Control a few routers or nameservers at the top of the hieararchy, and you have a chokehold on it.  Its structure leaves its innocent users vulnerable to wiretapping, censorship, and disruption by those who see themselves as judges of mankind.
			 </h2>
			 <h2 class="slogan-subtitle light-gray">           
				We have been working to design a real alternative.  Our approach is to support direct and transitive wireless communication among smartphones without reliance on vulnerable infrastructure.
			</h2>
		</div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image" style="max-width: 160px">
                            <img src="{{url_for('static',filename='img/feature_icon1.png')}}"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No sign-up.
                                <br>
                                No profile.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{url_for('static',filename='img/feature_icon2.png')}}"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No tracking.
                                <br>
                                No snooping.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{url_for('static',filename='img/feature_icon3.png')}}"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No cost.
                                <br>
                                No internet needed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class = "section">
	<div class = "container">
		<div class = "has-text-centered padding-two">
			<h1 class = "title">Delay-Tolerant Networking: The key behind Transitive Wireless Communication</h1>
			<p class = "subtitle">Anonymouse uses <a href = "https://en.wikipedia.org/wiki/Delay-tolerant_networking">Delay-Tolerant Networking</a> to get messages directly through and along a network of users, overcoming the censorship vulnerabilities traditional networks have.</p>
			<div class = "columns is-centered">
				<div class = "column is-half">
					<figure class = "image">
						<img src = "{{ url_for('static',filename='img/dtn.svg')}}">
					</figure>
				</div>
			</div>
		</div>
		<!--ROW ONE -->
		<div class = "columns is-centered is-vcentered">
			<div class = "column is-one-fifth">
				<figure class = "image">
					<img src = "{{url_for('static',filename='img/news.png')}}">
				</figure>
			</div>
			<div class = "column is-4 has-text-centered-mobile">
				<h1 class = "title">Censorship-Free, Consistently Fresh News</h1>
				<p class = "subtitle">Update your friends on late-breaking events without fear of censorship</p>
			</div>
		</div>
		<div class = "columns is-centered is-vcentered">
			<div class = "column is-4 has-text-right has-text-centered-mobile">
				<h1 class = "title">Vibrant Discussion</h1>
				<p class = "subtitle">Speak freely and hear others discuss ideas openly using a pen name nobody but you knows.</p>
			</div>
			<div class = "column is-one-fifth">
				<figure class = "image">
					<img src = "{{url_for('static',filename='img/discussion.png')}}">
				</figure>
			</div>
		</div>

	</div>
	<div class = "has-text-centered padding-two">
		<h1 class = "title">Sign up <a href = "http://bit.ly/anonymouse-signup">here</a> for more updates!</h1>
	</div>
</section>
{% endblock %}
