{% extends 'index.html' %}
{% block title %}About Anonymouse{% endblock %}
{% block body %}
<section class="hero is-white is-medium">
    <div class="container slogan">
        <h1 class="slogan-title dark-gray">
            About Anonymouse
        </h1>
        <h2 class="slogan-subtitle light-gray">
            There was a time when most people learned about the world from a few professional communicators.  The Internet opened communication to the masses. In many cases they were more accurate and creative, and their interests and ideas more diverse.
		</h2>
        <h2 class="slogan-subtitle light-gray">           
            But, from the start, there was a thorn in this rose.  The Internet is hierarchical.  Control a few routers or nameservers at the top of the hieararchy, and you have a chokehold on it.  Its structure leaves its innocent users vulnerable to wiretapping, censorship, and disruption by those who see themselves as judges of mankind.
		 </h2>
         <h2 class="slogan-subtitle light-gray">           
            We have been working to design a real alternative.  Our approach is to support direct and transitive wireless communication among smartphones without reliance on vulnerable infrastructure.
        </h2>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image" style="max-width: 160px">
                            <img src="{{url_for('static',filename='img/feature_icon1.png')}}"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No sign-up.
                                <br>
                                No profile.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{url_for('static',filename='img/feature_icon2.png')}}"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No tracking.
                                <br>
                                No snooping.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{url_for('static',filename='img/feature_icon3.png')}}"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No cost.
                                <br>
                                No internet needed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
