<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Anonymouse. Secure. Social.</title>

    <!-- Bulma -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Work+Sans" rel="stylesheet">

    <!-- Page styling -->
    <link href="static/css/main.css" rel="stylesheet">
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="is-pulled-left heading light-yellow title is-6
                uppercase">
                    Anonymouse
                </h1>
            </div>
            <nav class="column">
                <ul class="is-pulled-right nav uppercase">
                    <li><a class="light-gray" href="index.html">home</a></li>
                    <li><a class="light-gray" href="#">about</a></li>
                    <li><a class="light-gray" href="mailto:dickrp@umich.edu">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<section class="hero is-white is-medium">
    <div class="container slogan">
        <h1 class="about-title dark-gray">
            About Anonymouse
        </h1>
        <h2 class="about-subtitle light-gray">
            There was a time when most people learned about the world from a few
professional communicators.  The Internet opened communication to the
masses. In many cases they were more accurate and creative, and their
interests and ideas more diverse.

But, from the start, there was a thorn in this rose.  The Internet is
hierarchical.  Control a few routers or nameservers at the top of the
hieararchy, and you have a chokehold on it.  Its structure leaves its
innocent users vulnerable to wiretapping, censorship, and disruption by
those who see themselves as judges of mankind.

We have been working to design a real alternative.  Our approach is to
support direct and transitive wireless communication among smartphones
without reliance on vulnerable infrastructure.
        </h2>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image" style="max-width: 160px">
                            <img src="static/img/feature_icon1.png"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No sign-up.
                                <br>
                                No profile.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="static/img/feature_icon2.png"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No tracking.
                                <br>
                                No snooping.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="static/img/feature_icon3.png"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No cost.
                                <br>
                                No internet needed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container" style="width: 70%">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <ul class="column is-pulled-left links">
                    </ul>
                </div>
                <div class="column">
                    <div class="is-pulled-right light-gray copy">
                        <p>2017 &copy; Anonymouse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116487959-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116487959-1');
</script>

</body>
</html>
