{% extends 'index.html' %}
{% block title %}Downloads{% endblock %}
{% block style %}
	<style>
	.download_button{
		background-color:#F2AE00; 
		color:black; 
		padding:1rem;
	}
	.download_button:hover{
		text-decoration: underline;
	}
	.download_button:active{
		text-decoration: underline;
	}
	</style>
{% endblock %}
{% block body %}
<div class = "hero is-white">
	<div class = "hero-body">
		<div class = "container">
			<h1 class = "slogan-title dark-gray">Downloads</h1>		
			<h2 class="slogan-subtitle light-gray">Download Anonymouse's app here</h2>
		</div>
	</div>
</div>
<section class="section">
	<div class = "container">
		<h1 class = "title">Alpha Release Download</h1>
		<p class = "subtitle">November 27th, 2019</p>
		<p>The <code>.apk</code> is now available for download! The below instructions will help for installing the app:</p>
		<div class = "columns is-centered" style = "margin-top:1rem;">
			<div class = "column is-one-quarter has-text-centered">
				<a href = "{{url_for('static',filename='app-release.apk')}}" target = "_blank"><h1 class = "title download_button" style = "">Download Link</h1></a>
			</div>
		<div>
	</div>
</section>


{% endblock %}

