<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' https://*"/>-->
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' https://* 'unsafe-inline'; script-src 'self' https://* 'unsafe-inline' 'unsafe-eval'" />

    <title>{% block title %}Home{% endblock %} | Anonymouse. Secure. Social.</title>
	<link rel="icon" type="image/png" href="{{url_for('static',filename='img/favicon.ico')}}">


    <!-- Bulma and Fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Work+Sans" rel="stylesheet">

    <!-- Page styling -->
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="is-pulled-left heading light-yellow title is-6
                uppercase">
                    <a href = "/" class = "light-yellow">Anonymouse</a>
                </h1>
            </div>
            <nav class="column">
                <ul class="is-pulled-right nav uppercase">
                    <li><a class="light-gray" href="/">home</a></li>
                    <li><a class="light-gray" href="/about/">about</a></li>
                    <li><a class="light-gray" href="/staff/">staff</a></li>
                    <li><a class="light-gray" href="http://bit.ly/anonymouse-signup" target="_blank">contact</a></li>
<!--                    <li><a class="light-gray" href="/news">news</a></li> -->
                </ul>
            </nav>
        </div>
    </div>
</section>

{% block body %}
<section class="section">
	<div class = "container">
		<div class = "columns is-vcentered is-centered">
			<div class = "column  is-two-thirds-desktop is-one-third-widescreen">
				<div class = "hero is-medium">
					<div class="hero-body">
						<h1 class="title dark-gray slogan-title">
							See what's happening around you
						</h1>
						<h2 class="subtitle light-gray slogan-subtitle">
							<br>Connect with your local community, meet new people, and learn
							about
							events happening around you. <br>
							<br>Sign up to get an update when we launch our app!
						</h2>
						<a id="signup-btn" class="button is-link bg-light-yello uppercase"
						   href="http://bit.ly/anonymouse-signup" target="_blank">
							Sign up
						</a>
					</div>
				</div>
			</div>
			<div class = "column is-4">
				<img src = "{{ url_for('static',filename='img/app_screen-upright.png')}}" class = "image">
			</div>
		</div>
	</div>
</section>
<section id="features">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image" style="max-width: 160px">
                            <img src="static/img/feature_icon1.png"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No sign-up.
                                <br>
                                No profile.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="static/img/feature_icon2.png"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No tracking.
                                <br>
                                No snooping.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{url_for('static',filename='img/feature_icon3.png')}}"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No cost.
                                <br>
                                No internet needed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<footer class="footer">
    <div class="container" style="width: 70%">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <ul class="column is-pulled-left links">
                    </ul>
                </div>
                <div class="column">
                    <div class="is-pulled-right light-gray copy">
                        <p>&copy; 2019 Anonymouse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116487959-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116487959-1');
</script>

</body>
</html>
