<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Anonymouse. Secure. Social.</title>

    <!-- Bulma -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Work+Sans" rel="stylesheet">

    <!-- Page styling -->
    <link href="static/css/main.css" rel="stylesheet">
</head>
<body>
<div id="bg-image">
    <img src="static/img/app_screen.png">
</div>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="is-pulled-left heading light-yellow title is-6
                uppercase">
                    Anonymouse
                </h1>
            </div>
            <nav class="column">
                <ul class="is-pulled-right nav uppercase">
                    <li><a class="light-gray" href="#">home</a></li>
                    <li><a class="light-gray" href="#">about</a></li>
                    <li><a class="light-gray" href="#">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<section class="hero is-white is-medium">
    <div class="container slogan">
        <h1 class="slogan-title dark-gray">
            See what's happening around you
        </h1>
        <h2 class="slogan-subtitle light-gray">
            Connect with your local community, meet new people, and learn
            about
            events happening around you. <br>
            Sign up to get an update when we launch our app!
        </h2>
        <a id="signup-btn" class="button is-link bg-light-yello uppercase"
           href="http://bit.ly/anonymouse-signup" target="_blank">
            Sign up
        </a>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image" style="max-width: 160px">
                            <img src="static/img/feature_icon1.png"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No sign-up.
                                <br>
                                No profile.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="static/img/feature_icon2.png"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No tracking.
                                <br>
                                No snooping.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="static/img/feature_icon3.png"
                                 alt="anonymous">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content light-gray">
                            <p>
                                No cost.
                                <br>
                                No internet needed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container" style="width: 70%">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <ul class="column is-pulled-left links">
                        <li class="bottom-bordered light-border">
                            <a href="#" class="dark-gray">
                                Learn about our technology
                            </a>
                        </li>
                        <li class="bottom-bordered light-border">
                            <a href="#" class="dark-gray">
                                Press release and media
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <div class="is-pulled-right light-gray copy">
                        <p>2017 &copy; Anonymouse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116487959-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116487959-1');
</script>

</body>
</html>