{% extends 'index.html' %}
{% block title %}News{% endblock %}
{% block body %}
<div class = "hero is-white">
	<div class = "hero-body">
		<div class = "container">
			<h1 class = "slogan-title dark-gray">News</h1>		
			<h2 class="slogan-subtitle light-gray">Hear about project updates/announcements here</h2>
		</div>
	</div>
</div>
<section class="section">
	<div class = "container">
		<hr>
		<h1 class = "title">More Coming Soon</h1>
		<p class = "subtitle"></p>
		<p>Come check us out in the future!</p>
	</div>
</section>

{% endblock %}
