{% extends 'index.html' %}
{% block title %}Staff{% endblock %}
{% block body %}
	<div class="hero is-white mt-1">
		<div class="hero-body">
			<div class="container">
				<h1 class="slogan-title dark-gray">Staff</h1>
				<h2 class = "slogan-subtitle light-gray">All of Anonymouse's Project Members</h2>
			</div>
		</div>
	</div>
	<section class = "section">
		<div class = "container">
			<p style = "margin-bottom:2rem;">Anonymouse is a project funded by the <a href = "https://mdp.engin.umich.edu/">Multidisciplinary Design Program</a> at the University of Michigan, Ann Arbor. Listed below are all of the project's active subteams.</p>
			<article class="message">
				<div class="message-header">
					<p><i class="fab fa-android"></i> Android Subteam</p>
				</div>
				<div class="message-body">
					<p>We are developing the Android version of Anonymouse as well as well as researching Android-specific mechanisms of anonymous communication including Bluetooth Low Energy.</p>
				</div>
			</article>			
			<article class="message">
				<div class="message-header">
					<p><i class="fas fa-search-location"></i> Marketing Subteam</p>
				</div>
				<div class="message-body">
					<p>The mission of the marketing team is to help the team understand and connect with our customers and supporters. Marketing is divided into two subteams – research and outreach.  The research team gathers information through research, surveys, and in-person interviews and analyzes it rigorously to understand the customers. We also help the developers determine what values and features to focus on. The outreach team identifies and communicates with potential customers and supporters, including beta testers.</p>
				</div>
			</article>			
			<article class="message">
				<div class="message-header">
					<p><i class="fas fa-chart-line"></i> Simulation Subteam</p>
				</div>
				<div class="message-body">
					<p>We simulate ideas from the development and marketing subteams to determine their implications. For example, we determine battery lifespan, reliability, and responsiveness implications of design decisions.</p>
				</div>
			</article>			
			<article class="message">
				<div class="message-header">
					<p><i class="fas fa-user"></i> Professor Robert Dick | Project Advisor</p>
				</div>
				<div class="message-body">
					<p>Most of my research and teaching focuses on special-purpose computers called embedded systems. Prior research results from my team suggest that infrastructureless microblogging that is resistant to blocking and censorship can be practical within towns and cities. I am helping the Anonymouse team make such a system real.</p>
				</div>
			</article>			

		</div>
	</section>
{% endblock %}
