{% extends 'index.html' %}
{% block title %}Staff{% endblock %}
{% block body %}
	<div class="hero is-white">
		<div class="hero-body">
			<div class="container">
				<h1 class="slogan-title dark-gray">Staff</h1>
				<h2 class = "slogan-subtitle light-gray">All of Anonymouse's Project Members</h2>
			</div>
		</div>
	</div>
	<section class = "section">
		<div class = "container">
			<div class = "columns is-centered">
				<div class = "has-text-centered column is-half is-rounded" id = "professor">
					<i class="fas fa-user fa-10x"></i>
					<p class="title is-spaced">Professor Robert Dick</p>
					<p class = "subtitle is-spaced">Project Director</p>
					<p class = "is-spaced"><a href="mailto:dickrp@umich.edu">dickrp@umich.edu</a></p>
				</div>
			</div>
			<article class="message">
				<div class="message-header">
					<p>Android Subteam</p>
				</div>
				<div class="message-body">
					<p>Hi there! We're primarily tasked with developing the Android version of Anonymouse as well as well as researching Android-specific techniques of anonymous communication including unconventional ones like Bluetooth Low Energy. This is part of Anonymouse's porting of the app from iOS to Android. Feel free to contact any of us if you have any questions!</p>
					<div class = "columns is-centered has-text-centered subteam">
						<div class = "column">
							<i class="fas fa-user fa-7x"></i>			
							<h2>Yu Wang</h2>
							<p><a href = "mailto:yuwangcs@umich.edu">yuwangcs@umich.edu</a></p>
						</div>
						<div class = "column">
							<i class="fas fa-user fa-7x"></i>					
							<h2>Brian Lee</h2>
							<p><a href = "mailto:leebri@umich.edu">leebri@umich.edu</a></p>
						</div>
					</div>
				</div>
			</article>			
			<article class="message is-primary">
				<div class="message-header">
					<p>Marketing Subteam</p>
				</div>
				<div class="message-body">
					<p><b>Marketing Research</b>:</p>
					<p><b>Marketing Outreach</b>:</p>
					<div class = "columns is-centered has-text-centered subteam">
						<div class = "column">
							<i class="fas fa-user fa-7x"></i>			
							<h2>Sarah Chan</h2>
							<p><a href = "mailto:schanhy@umich.edu">schanhy@umich.edu</a></p>
						</div>
						<div class = "column">
							<i class="fas fa-user fa-7x"></i>					
							<h2>Nicole Yang</h2>
							<p><a href = "mailto:yangnico@umich.edu">yangnico@umich.edu</a></p>
						</div>
					</div>

				</div>
			</article>			
			<article class="message is-info">
				<div class="message-header">
					<p>Simulation Subteam</p>
				</div>
				<div class="message-body">
					<p>Insert Description Here</p>
				</div>
			</article>			
		</div>
	</section>
{% endblock %}
