{% extends 'index.html' %}
{% block title %}Staff{% endblock %}
{% block body %}
	<div class="hero is-white">
		<div class="hero-body">
			<div class="container">
				<h1 class="slogan-title dark-gray">Staff</h1>
				<h2 class = "slogan-subtitle light-gray">All of Anonymouse's Project Members</h2>
			</div>
		</div>
	</div>
	<section class = "section">
		<div class = "container">
			<p style = "margin-bottom:2rem;">Anonymouse is a project funded by the <a href = "https://mdp.engin.umich.edu/">Multidisciplinary Design Program</a> at the University of Michigan, Ann Arbor. Listed below are all of the project's active subteams.</p>
			<article class="message">
				<div class="message-header">
					<p><i class="fab fa-android"></i> Android Subteam</p>
				</div>
				<div class="message-body">
					<p>Hi there! We're primarily tasked with developing the Android version of Anonymouse as well as well as researching Android-specific techniques of anonymous communication including unconventional ones like Bluetooth Low Energy. This is part of Anonymouse's porting of the app from iOS to Android. Feel free to contact any of us if you have any questions!</p>
				</div>
			</article>			
			<article class="message is-primary">
				<div class="message-header">
					<p><i class="fas fa-search-location"></i> Marketing Subteam</p>
				</div>
				<div class="message-body">
					<p>The mission of the marketing team is to help the entire team understand our customers and connect with them as well as anyone who shows interest in the project. Marketing is divided into two subteams – <b>research</b> and <b>outreach</b>.  The research team gathers information through online research and in person interviewsand analyze it rigorously to understand the customer base and eventually drive the project towards the direction desirable to customers. The outreach team designs contents used for marketing purpose and reach out to customers along with potential personals who would be willing to contribute to the project, such as beta testers.</p>
				</div>
			</article>			
			<article class="message is-info">
				<div class="message-header">
					<p><i class="fas fa-chart-line"></i> Simulation Subteam</p>
				</div>
				<div class="message-body">
					<p>Hey everyone, we're the Simulation subteam. We simulate various ideas for the app that the Android and Marketing subteams come up with and see if they remain realistic once real-world factors enter consideration, such as amount of users and/or outside interference. Feel free to hit us up with any questions.</p>
				</div>
			</article>			
			<article class="message is-warning">
				<div class="message-header">
					<p><i class="fas fa-user"></i> Professor Robert Dick | Project Advisor</p>
				</div>
				<div class="message-body">
					<p>Insert description here</p>
				</div>
			</article>			

		</div>
	</section>
{% endblock %}
